﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<style>
    table th, tr, td {
        border: none;
    }
</style>
<div class="d-flex">
    <table class="table-striped table align-self-center">
        <tr>
            <th style="width: 20%">Member</th>
            <th style="width: 30%">Họ tên</th>
            <th style="width: 30%">Nhóm</th>
            <th style="width: 20%">Lớp</th>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-3.png" alt="Alternate Text" /></td>
            <td>Nguyễn Hoàng Minh</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-4.png" alt="Alternate Text" /></td>
            <td>Đàm Viết Trọng</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-8.png" alt="Alternate Text" /></td>
            <td>Lê Thanh Tùng</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-3.png" alt="Alternate Text" /></td>
            <td>Lê Công Chánh</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-4.png" alt="Alternate Text" /></td>
            <td>Trương Thế Bảo</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-8.png" alt="Alternate Text" /></td>
            <td>Nguyễn Tuấn Tú</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-3.png" alt="Alternate Text" /></td>
            <td>Nguyễn Trường Vũ</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>

        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-2.png" alt="Alternate Text" /></td>
            <td>Lê Phan Bảo Ngọc</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-2.png" alt="Alternate Text" /></td>
            <td>Trần Thị Hương Thủy</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
        <tr>
            <td><img src="~/Public/assets/images/faces-clipart/pic-2.png" alt="Alternate Text" /></td>
            <td>Nguyễn Bảo Uyên</td>
            <td>Nhóm 5</td>
            <td>63CNTT5</td>
        </tr>
    </table>
</div>